<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout" layout:decorator="sukho/layout/layout">
    <th:block layout:fragment="content">
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/jinah/assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Suk Ho</h1>
                            <span class="subheading">Back-End Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->

        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-5 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <form>
                            <p>
                                <textarea rows="0" name="se2" id="se2"></textarea>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </article>
        <script type="text/javascript" src="/smarteditor2/js/service/HuskyEZCreator.js" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var oEditors = [];
                nhn.husky.EZCreator.createInIFrame({
                    oAppRef: oEditors,
                    elPlaceHolder: "se2",
                    sSkinURI: "/smarteditor2/SmartEditor2Skin.html",
                    fCreator: "createSEditor2"
                });
            })
        </script>
    </th:block>
</html>
