<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout" layout:decorator="sukho/layout/layout">
    <th:block layout:fragment="content">
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/sukho/assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Suk Ho</h1>
                            <span class="subheading">Back-End Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->

        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-5 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <form id="write_post">
                            <div class="mb-3">
                                <label for="title" class="form-label">제목</label>
                                <input type="text" class="form-control" id="title" name="title">
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control" rows="0" name="content" id="se2"></textarea>
                            </div>
                            <div class="mb-3">
                                <button type="button" class="btn-sm btn-secondary" onclick="submit_post()">등록</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>
        <script type="text/javascript" src="/smarteditor2/js/HuskyEZCreator.js" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">
            // 이미지 파일 목록 저장할 변수
            let file_names=[];

            function filename(obj) {
                let counter=0;
                for (let i =0 ; i <= file_names.length; i++){
                    if(file_names.length == 0){

                    }else if (file_names[i] == obj){
                        counter++
                    }
                }
                if (counter == 0){
                    file_names[file_names.length] = obj;
                }
            }


            // form 상수에 저장
            const form = document.getElementById("write_post");
            // 폼이 submit 될 때 멈추고 submit_post() 함수 실행
            form.addEventListener("submit", event => {
                event.preventDefault();
                submit_post();
            })

            var oEditors = [];
            $(document).ready(function () {
                nhn.husky.EZCreator.createInIFrame({
                    oAppRef: oEditors,
                    elPlaceHolder: "se2",
                    sSkinURI: "/smarteditor2/SmartEditor2Skin.html",
                    fCreator: "createSEditor2"
                });
            })

            // 폼 내용 전송
            function submit_post() {
                oEditors.getById["se2"].exec("UPDATE_CONTENTS_FIELD", [])
                let content = document.getElementById("se2").value;
                console.log(content);

                let form = $("form")[0]
                console.log(form)

                let formData = new FormData(form)
                console.log(formData.get("title"))
                console.log(formData.get("content"))

                if (confirm("글을 등록하시겠습니까?")){

                    let form = $("write_post")[0]
                    let formData = new FormData(form)

                    $.ajax({
                        cache : false,
                        url : "/customer/message/send/",
                        processData: false,
                        contentType: false,
                        type : 'POST',
                        data : formData,
                    }).done(function (res) {
                        if (res.result == null){
                            alert("메시지 발송에 실패했습니다.\n 다시 시도해 주세요.")
                        }else {
                            alert("메시지 발송이 완료되었습니다.")
                            window.location.href = "/customer/message/sent/"
                        }
                    }).fail(function (xhr, status, e) {
                        console.log(xhr, status, e)
                        alert("메시지 발송에 실패했습니다.\n 다시 시도해 주세요.")
                    })
                }
            }

        </script>
    </th:block>
</html>
